<div class="global-filter-wrapper">
    <div ng-controller="filterGlobal" class="global-filter">
        <div class="filter-header" ng-click="toggle('globalFilterTabs')">
            <h6 class="filter-title" ng-class="{ 'collapsed': !globalFilterTabs }"><i class="fa  fa-bars"></i><span translate>globalFilter.filter</span></h6>
        </div>

        <div class="tabset-wrapper" ng-class="{ 'collapsed': !globalFilterTabs }">
            <ul class="tabset">
                <li class="tab" active>
                    <a class="tab-heading"><span translate>globalFilter.categories.categories</span><span class="count-number">{{ global_filter.tags.results.length }}</span></a>
                    <div class="tab-content">
                        <ul>
                            <li ng-repeat="tag in global_filter.tags.results">
                                <label class="checkbox-label" for="tag-{{ tag.id }}">
                                    <input type="checkbox" ng-model="tag.selected" name="tag-{{ tag.id }}">
                                    <span>{{ tag.tag }}</span>
                                </label>
                            </li>
                        </ul>
                        <input class="clear-button" type="button" name="clear-selection-button" value="{{'globalFilter.clear_selection' | translate }}" disabled>
                    </div>
                </li>

                <li class="tab" ng-if="config.features.sets_ui">
                    <a href="" class="tab-heading"><span translate>globalFilter.sets.sets</span><span class="count-number">4</span></a>
                    <div class="tab-content">
                        <h6 translate>globalFilter.sets.my_sets</h6>
                        <ul>
                            <li>
                                <input type="checkbox" name="set" value="set">
                                <label class="checkbox-label" for="set" translate>globalFilter.sets.set_1</label>
                            </li>
                            <li>
                                <input type="checkbox" name="set" value="set">
                                <label class="checkbox-label" for="set" translate>globalFilter.sets.set_2</label>
                            </li>
                        </ul>

                        <h6 translate>globalFilter.sets.all_sets</h6>
                        <ul>
                            <li>
                                <input type="checkbox" name="set" value="set">
                                <label class="checkbox-label" for="set" translate>globalFilter.sets.set_1</label>
                            </li>
                            <li>
                                <input type="checkbox" name="set" value="set">
                                <label class="checkbox-label" for="set" translate>globalFilter.sets.set_2</label>
                            </li>
                            <li>
                                <input type="checkbox" name="set" value="set">
                                <label class="checkbox-label" for="set" translate>globalFilter.sets.set_3</label>
                            </li>
                            <li>
                                <input type="checkbox" name="set" value="set">
                                <label class="checkbox-label" for="set" translate>globalFilter.sets.set_4</label>
                            </li>
                        </ul>
                        <input class="clear-button" type="button" name="clear-selection-button" value="{{'globalFilter.clear_selection' | translate }}" disabled>
                    </div>
                </li>

                <li class="tab">
                    <a href="" class="tab-heading" translate>globalFilter.more</a>
                    <div class="tab-content">
                        <label for="keyword" translate>globalFilter.keyword</label>
                        <input type="text" name="keyword" placeholder="{{'globalFilter.keyword' | translate }}">

                        <label for="start" translate>globalFilter.start_date</label>
                        <input type="text" name="start" placeholder="{{'globalFilter.start_date_placeholder' | translate }}">
                        <label for="end" translate>globalFilter.end_date</label>
                        <input type="text" name="end" placeholder="{{'globalFilter.end_date_placeholder' | translate }}">

                        <label for="location" translate>globalFilter.location</label>
                        <input type="text" name="location" placeholder="{{'globalFilter.location' | translate }}">
                        <select>
                            <option translate selected>globalFilter.option_1</option>
                            <option translate>globalFilter.option_2</option>
                            <option translate>globalFilter.option_3</option>
                            <option translate>globalFilter.option_4</option>
                            <option translate>globalFilter.option_5</option>
                        </select>

                        <input class="clear-button" type="button" name="clear-selection-button" value="{{'globalFilter.clear_selection' | translate }}" disabled>
                        <input class="apply-filter-button" type="button" name="apply-filter-button" value="{{'globalFilter.apply_filters' | translate }}" disabled>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
